*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.tittle{
  font-size: 1rem;
}
.headerSection{
 display: flex;
 justify-content: space-between;
 padding: 10px;
}

.center ul li{
  list-style: none;
  display: inline-flex;
  margin: 0px 10px;
}
.left{
  flex: 4;
  /* border: 1px solid black; */
}
.center{
  flex: 4;
  /* border: 1px solid black; */
}

.search{
  flex: 2;
  /* border: 1px solid black; */
}

.right{
  flex: 4;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.bannerBox{
  margin: 10px 0px;
}
.bannerBox img{
  width: 100%;
}
.mensColection{
  display: flex;

}
.gentsImage{
  width: 225px;
  height: 225px;
}